<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  
  <style>
    *{
      font-family: "Raleway", sans-serif
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #011329;
      overflow: hidden;
    }

    .stars {
      position: fixed;
      top: 0;
      left: 0;
      width: 90%;

      transform: rotate(-45deg);
    }

    .star {
      --star-color: var(--primary-color);
      --star-tail-length: 6em;
      --star-tail-height: 2px;
      --star-width: calc(var(--star-tail-length) / 6);
      --fall-duration: 9s;
      --tail-fade-duration: var(--fall-duration);
      position: absolute;
      top: var(--top-offset);
      left: 0;
      width: var(--star-tail-length);
      height: var(--star-tail-height);
      color: #4ec0e9;
      background: linear-gradient(45deg, currentColor, transparent);
      border-radius: 50%;
      filter: drop-shadow(0 0 6px currentColor);
      transform: translate3d(104em, 0, 0);
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
    }

    @media screen and (max-width: 750px) {
      .star {
        animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
      }
    }

    .star:nth-child(1) {
      --star-tail-length: 7.11em;
      --top-offset: 83.47vh;
      --fall-duration: 9.792s;
      --fall-delay: 1.576s;
    }

    .star:nth-child(2) {
      --star-tail-length: 5.62em;
      --top-offset: 29.95vh;
      --fall-duration: 11.61s;
      --fall-delay: 9.812s;
    }

    .star:nth-child(3) {
      --star-tail-length: 5.29em;
      --top-offset: 33.14vh;
      --fall-duration: 7.236s;
      --fall-delay: 4.381s;
    }

    .star:nth-child(4) {
      --star-tail-length: 5.44em;
      --top-offset: 80.13vh;
      --fall-duration: 7.358s;
      --fall-delay: 2.539s;
    }

    .star:nth-child(5) {
      --star-tail-length: 6.92em;
      --top-offset: 56.12vh;
      --fall-duration: 8.76s;
      --fall-delay: 3.909s;
    }

    .star:nth-child(6) {
      --star-tail-length: 7.06em;
      --top-offset: 40.16vh;
      --fall-duration: 7.081s;
      --fall-delay: 5.167s;
    }

    .star:nth-child(7) {
      --star-tail-length: 5.72em;
      --top-offset: 12.83vh;
      --fall-duration: 9.402s;
      --fall-delay: 3.411s;
    }

    .star:nth-child(8) {
      --star-tail-length: 6.95em;
      --top-offset: 67.61vh;
      --fall-duration: 6.016s;
      --fall-delay: 4.072s;
    }

    .star:nth-child(9) {
      --star-tail-length: 5.32em;
      --top-offset: 95.01vh;
      --fall-duration: 10.178s;
      --fall-delay: 1.641s;
    }

    .star:nth-child(10) {
      --star-tail-length: 5.93em;
      --top-offset: 86.04vh;
      --fall-duration: 7.316s;
      --fall-delay: 0.085s;
    }

    .star:nth-child(11) {
      --star-tail-length: 7.18em;
      --top-offset: 60.63vh;
      --fall-duration: 8.892s;
      --fall-delay: 4.581s;
    }

    .star:nth-child(12) {
      --star-tail-length: 7.19em;
      --top-offset: 79.33vh;
      --fall-duration: 11.38s;
      --fall-delay: 9.413s;
    }

    .star:nth-child(13) {
      --star-tail-length: 5.48em;
      --top-offset: 65.28vh;
      --fall-duration: 11.094s;
      --fall-delay: 2.396s;
    }

    .star:nth-child(14) {
      --star-tail-length: 5.84em;
      --top-offset: 48.72vh;
      --fall-duration: 8.58s;
      --fall-delay: 2.55s;
    }

    .star:nth-child(15) {
      --star-tail-length: 6.07em;
      --top-offset: 4.41vh;
      --fall-duration: 8.696s;
      --fall-delay: 3.84s;
    }

    .star:nth-child(16) {
      --star-tail-length: 5.81em;
      --top-offset: 32.39vh;
      --fall-duration: 11.819s;
      --fall-delay: 2.463s;
    }

    .star:nth-child(17) {
      --star-tail-length: 7.26em;
      --top-offset: 82.7vh;
      --fall-duration: 9.086s;
      --fall-delay: 5.348s;
    }

    .star:nth-child(18) {
      --star-tail-length: 5.07em;
      --top-offset: 65.63vh;
      --fall-duration: 7.325s;
      --fall-delay: 5.845s;
    }

    .star:nth-child(19) {
      --star-tail-length: 5.96em;
      --top-offset: 94.91vh;
      --fall-duration: 9.501s;
      --fall-delay: 2.571s;
    }

    .star:nth-child(20) {
      --star-tail-length: 6.44em;
      --top-offset: 78.08vh;
      --fall-duration: 10.252s;
      --fall-delay: 5.738s;
    }

    .star:nth-child(21) {
      --star-tail-length: 5.85em;
      --top-offset: 10.5vh;
      --fall-duration: 6.691s;
      --fall-delay: 6.794s;
    }

    .star:nth-child(22) {
      --star-tail-length: 5.27em;
      --top-offset: 6.14vh;
      --fall-duration: 6.774s;
      --fall-delay: 5.174s;
    }

    .star:nth-child(23) {
      --star-tail-length: 7.34em;
      --top-offset: 54.03vh;
      --fall-duration: 6.808s;
      --fall-delay: 0.951s;
    }

    .star:nth-child(24) {
      --star-tail-length: 5.61em;
      --top-offset: 80.34vh;
      --fall-duration: 7.385s;
      --fall-delay: 5.444s;
    }

    .star:nth-child(25) {
      --star-tail-length: 5.52em;
      --top-offset: 12.87vh;
      --fall-duration: 10.082s;
      --fall-delay: 6.215s;
    }

    .star:nth-child(26) {
      --star-tail-length: 7.32em;
      --top-offset: 62.17vh;
      --fall-duration: 6.768s;
      --fall-delay: 3.227s;
    }

    .star:nth-child(27) {
      --star-tail-length: 5.31em;
      --top-offset: 20.44vh;
      --fall-duration: 8.138s;
      --fall-delay: 5.722s;
    }

    .star:nth-child(28) {
      --star-tail-length: 6.52em;
      --top-offset: 8.75vh;
      --fall-duration: 11.628s;
      --fall-delay: 4.684s;
    }

    .star:nth-child(29) {
      --star-tail-length: 5.61em;
      --top-offset: 50.81vh;
      --fall-duration: 11.07s;
      --fall-delay: 7.633s;
    }

    .star:nth-child(30) {
      --star-tail-length: 5.34em;
      --top-offset: 13.52vh;
      --fall-duration: 10.691s;
      --fall-delay: 7.735s;
    }

    .star:nth-child(31) {
      --star-tail-length: 6.3em;
      --top-offset: 12.74vh;
      --fall-duration: 11.296s;
      --fall-delay: 6.986s;
    }

    .star:nth-child(32) {
      --star-tail-length: 7.29em;
      --top-offset: 5.31vh;
      --fall-duration: 8.889s;
      --fall-delay: 1.294s;
    }

    .star:nth-child(33) {
      --star-tail-length: 7.37em;
      --top-offset: 15.48vh;
      --fall-duration: 6.508s;
      --fall-delay: 4.841s;
    }

    .star:nth-child(34) {
      --star-tail-length: 6.36em;
      --top-offset: 62.47vh;
      --fall-duration: 9.91s;
      --fall-delay: 3.035s;
    }
    .star::before,
    .star::after {
      position: absolute;
      content: '';
      top: 0;
      left: calc(var(--star-width) / -2);
      width: var(--star-width);
      height: 100%;
      background: linear-gradient(45deg, transparent, currentColor, transparent);
      border-radius: inherit;
      animation: blink 2s linear infinite;
    }

    .star::before {
      transform: rotate(45deg);
    }

    .star::after {
      transform: rotate(-45deg);
    }

    @keyframes fall {
      to {
        transform: translate3d(-30em, 0, 0);
      }
    }

    @keyframes tail-fade {

      0%,
      50% {
        width: var(--star-tail-length);
        opacity: 1;
      }

      70%,
      80% {
        width: 0;
        opacity: 0.4;
      }

      100% {
        width: 0;
        opacity: 0;
      }
    }

    @keyframes blink {
      50% {
        opacity: 0.6;
      }
    }


 

    .login-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      padding: 40px;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, .5);
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
      border-radius: 10px;
    }

    .login-box h2 {
      margin: 0 0 30px;
      padding: 0;
      color: #fff;
      text-align: center;
    }

    .login-box .user-box {
      position: relative;
    }

    .login-box .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      margin-bottom: 30px;
      border: none;
      border-bottom: 1px solid #fff;
      outline: none;
      background: transparent;
    }

    .login-box .user-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #fff;
      pointer-events: none;
      transition: .5s;
    }

    .login-box .user-box input:focus~label,
    .login-box .user-box input:valid~label {
      top: -20px;
      left: 0;
      color: #03e9f4;
      font-size: 12px;
    }

    .login-box form button {
      background: transparent;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #03e9f4;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px
    }

    .login-box button:hover {
      background: #03e9f4;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
    }

    .login-box button span {
      position: absolute;
      display: block;
    }

    .login-box button span:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #03e9f4);
      animation: btn-anim1 1s linear infinite;
    }

    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }

      50%,
      100% {
        left: 100%;
      }
    }

    .login-box button span:nth-child(2) {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #03e9f4);
      animation: btn-anim2 1s linear infinite;
      animation-delay: .25s
    }

    @keyframes btn-anim2 {
      0% {
        top: -100%;
      }

      50%,
      100% {
        top: 100%;
      }
    }

    .login-box button span:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #03e9f4);
      animation: btn-anim3 1.5s linear infinite;
      animation-delay: .5s
    }

    @keyframes btn-anim3 {
      0% {
        right: -100%;
      }

      50%,
      100% {
        right: 100%;
      }
    }

    .login-box button span:nth-child(4) {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #03e9f4);
      animation: btn-anim4 1.5s linear infinite;
      animation-delay: .75s
    }

    @keyframes btn-anim4 {
      0% {
        bottom: -100%;
      }

      50%,
      100% {
        bottom: 100%;
      }
    }

    a {
      position: fixed;
      margin-top: 60px;
      right: 1%;
      font-size: 0.8rem;
      color: #ffffff;
      text-decoration-color: #ffffff;
    }
    h2{
      font-size: 1.4em;
  font-weight: 900;
  letter-spacing: 0.2em;
    }
  </style>
</head>

<body>
  <div class="stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
  </div>
  <div class="login-box">
    <h2>Register</h2>
    <form action="/register" method="post">
      <div class="user-box">
        <input type="text" id="username" name="username" minlength="5" maxlength="10"
          title="Between 5 and 10 characters" required>
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" id="password" name="password" minlength="8" maxlength="10" required>
        <label>Password</label>
      </div>

      <div class="user-box">
        <input type="email" id="email" name="email" required>
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text" id="flat_no" name="flat_no" required>
        <label>Flat No.</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      <a href="/login">Already have an account? </a>
    </form>
  </div>
</body>

</html>